/* Estilos para el encabezado */
.header {
    background-color: #439A86;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-height: 50px;
}

/* Estilos para el barra lateral */
.sidebar {
    background-color: #439A86;
    color: #fff;
    width: 8%;
    height: 100;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile img {
    max-width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    transform: rotate(0); /* Restablecer la rotación a 0 grados */
}

/* Estilos para el contenido principal */
.content {
    width: 84%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 24px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-top: 10px; /* Espacio entre etiquetas */
}

input[type="text"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    background-color: #439A86;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}